/*
 *
 * // by ♥ Lê Thị Ngọc Tuyền
 * // https://www.facebook.com/my.meo.2k5
 * // ltntuyen25@gmail.com
 *
 *
 *
 */
 
  /* Reponsive cho màn hình Desktop */
  
 @media screen and (min-width: 1024px){

/*
 * start Reponsive footer -----------------------------------------------------------------------------------------------------------------------
 */


/*
 * start Reponsive Menu -----------------------------------------------------------------------------------------------------------------------
 */



		.mainmenu ul li{ 

			display: inline-block; /* Thành phần sẽ hiển thị như một khối, nhưng là một khối nội tuyến. (inline, không ngắt dòng). */
			list-style: none; /* kiểu danh sách  */
			float: left;
			padding: 0.5em 0.8em; /* thêm vào các khoảng cách bên trên,phải,dưới,trái : padding: 25px(TOP) 50px(right) 75px(BOT) 100px(left); */
		}
		.mainmenu li:hover{ /* hover là tác vụ khi rê chuột vào */
			background-color: white;
 			color: black;
		}
		.mainmenu li.active{  /* trang đang hoạt động sẽ có class active */
			background-color: #4CAF50;
		}
		.mainmenu li a {
			text-transform: capitalize; /* Chữ đầu tiên của mỗi thành phần là chữ hoa.*/
			text-decoration: none; /* Định dạng văn bản bình thường, đây là dạng mặc định. */
			color: #591e5d;
			font-size: 0.8em;
		}
		.mainmenu li.active a{
			color: white;
		}
/*
 * end Reponsive Menu -----------------------------------------------------------------------------------------------------------------------
 */
 /*
 * start Reponsive toolbar -----------------------------------------------------------------------------------------------------------------------
 */

 .row .nav-toolbar{
 	display: inline-block; /* Thành phần sẽ hiển thị như một khối, nhưng là một khối nội tuyến. (inline, không ngắt dòng). */
 	float: left;
 	padding: 0.1em 1.5em; /* thêm vào các khoảng cách bên trên,phải,dưới,trái : padding: 25px(TOP) 50px(right) 75px(BOT) 100px(left); */
 }
 .row .nav-toolbar a{
 	display: inline-block; /* Thành phần sẽ hiển thị như một khối, nhưng là một khối nội tuyến. (inline, không ngắt dòng). */
 	padding: 0.1em 0em 0 0.3em; /* thêm vào các khoảng cách bên trên,phải,dưới,trái : padding: 25px(TOP) 50px(right) 75px(BOT) 100px(left); */
 }

  .row .nav-toolbar a:hover{
 	color: #591e5d;
 	text-shadow: 2px 2px 5px gray; /* Đổ bóng cho chữ */
 }

 .row .nav-toolbar-right{
 	display: inline-block; /* Thành phần sẽ hiển thị như một khối, nhưng là một khối nội tuyến. (inline, không ngắt dòng). */
 	float: right;
 	padding: 0.1em 1.5em; /* thêm vào các khoảng cách bên trên,phải,dưới,trái : padding: 25px(TOP) 50px(right) 75px(BOT) 100px(left); */
 }
 /*
 * end Reponsive toolbar -----------------------------------------------------------------------------------------------------------------------
 */

.header-left{
 	 float: left;
 	 width: 50%;
 }

 .header-right{
 	 float: right;
 }

.nav-header-left .row-nav-header-left {
	display: inline-block; /* Thành phần sẽ hiển thị như một khối, nhưng là một khối nội tuyến. (inline, không ngắt dòng). */
	float: right;
	padding: 0 0.5em;
}

 


 /*
 * end Reponsive footer -----------------------------------------------------------------------------------------------------------------------
 */




 /*
 * start Reponsive footer -----------------------------------------------------------------------------------------------------------------------
 */

 .row .info{ 

			display: inline-block; /* Thành phần sẽ hiển thị như một khối, nhưng là một khối nội tuyến. (inline, không ngắt dòng). */
			float: left;
			
		}

 .row .info ul li{ 

 			list-style: none; /* kiểu danh sách  */
 			padding: 0.1em 0.8em; /* thêm vào các khoảng cách bên trên,phải,dưới,trái : padding: 25px(TOP) 50px(right) 75px(BOT) 100px(left); */
 			

}

 .row .info ul li a{ 
 			/*text-transform: capitalize; /* Chữ đầu tiên của mỗi thành phần là chữ hoa.*/
			text-decoration: none; /* Định dạng văn bản bình thường, đây là dạng mặc định. */
			color: Gray;
			font-size: 0.8em;		

}

 .row .info ul li a:hover{ /* hover là tác vụ khi rê chuột vào */
			color: white; 
		}

/*
 * end Reponsive footer -----------------------------------------------------------------------------------------------------------------------
 */


 }